services:

  db_embeddings:
    hostname: db_embeddings
    image: ankane/pgvector
    ports:
     - 5432:5432
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
#      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  ollama:
    container_name: ollama_llm
    image: ollama/ollama:latest
    volumes:
      - ./.ollama:/root/.ollama
    expose:
      - 11434
    environment:
      - gpus=all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  llk-app:
#    image: pdep-llk:latest
    image: nvidia-gpu:latest
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ '0' ]
              capabilities: [ gpu ]
    container_name: llk-app
    ports:
      - 0.0.0.0:8501:8501
    restart: unless-stopped
    working_dir: /app
    depends_on:
      - db_embeddings
      - ollama
    environment:
      - APP_DB_HOST=db_embeddings
      - APP_DB=${POSTGRES_DB}
      - APP_DB_USER=${POSTGRES_USER}
      - APP_DB_PASS=${POSTGRES_PASSWORD}
#      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./:/app
      - ./uploaded:/app/uploaded
      - ./.streamlit:/app/.streamlit
      - ./.models_cache:/app/.models_cache
    command:
      streamlit run stapp.py --server.enableXsrfProtection=false --server.enableCORS=false

volumes:
  pgdata:
  uploaded:
  .streamlit:
  .models_cache:
  .ollama:


